.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 100;
}
.cart {
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.slideIn {
  animation: slide-in 300ms forwards;
}

.slideOut {
  animation: slide-out 300ms forwards;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(200px);
  }
}

.shadow {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.684);
  animation: appear 300ms forwards;
}

.appear {
  animation: appear 300ms forwards;
}

.disappear {
  animation: disappear 300ms forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  .cart {
    width: 50%;
  }
}

@media only screen and (min-width: 600px) {
  .cart {
    width: 40%;
  }
}

@media only screen and (min-width: 768px) {
  .cart {
    width: 30%;
  }
}

@media only screen and (min-width: 992px) {
  .cart {
    width: 30%;
  }
}
