.container {
  width: 100%;
  height: 3rem;
  padding-right: 1rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  position: fixed;
  z-index: 200;
  top: var(--navbar-height);
}

.display {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.displayType {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem;

  width: 1.2rem;
  height: 1.2rem;
}

.rectangle {
  border: 2px solid black;
  border-radius: 2px;
}

.filter {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.filter span {
  font-size: 0.9rem;
}
