.imgContainer {
  display: flex;
  overflow: hidden;
  position: relative;
}

.loader {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;

  color: rgb(0, 255, 0);
  font-size: 2rem;
}

.loader span {
  font-size: 1rem;
  color: rgb(35, 35, 35);
  animation: slide-in 600ms forwards;
}

@keyframes slide-in {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.imgContainer img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.imgBack {
  opacity: 0;
  position: absolute;
}

.imgContainer:hover .imgBack {
  opacity: 1;
}

.imgContainer:hover .sizeContainer {
  opacity: 1;
}

.sizeContainer {
  position: absolute;
  bottom: 4%;
  left: 4%;
  right: 4%;
  top: 75%;
  background-color: white;
  opacity: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
