.container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: auto;
}

.bar {
  width: 3rem;
  height: 0.2rem;
  background-color: rgb(240, 240, 240);
  margin: 0 0.4rem;
  cursor: pointer;
  box-shadow: rgb(49, 49, 49) 0px 0px 0px 1px;
}
